

header {
    text-align: center;
}

body {
    text-align: center;
}
#res {
    margin:auto;
    width:500px;
    padding:20px;
    background: black;
    color:white;
}

footer {

}